<script type="text/javascript">
	window.meeting.role = "<%= @mu.user_role %>";
	window.meeting.id = "<%= @meeting.id %>";
</script>

<div id="info">
	<span>Code: <%= @meeting.code %></span>
	<span>Pass: <%= @meeting.password %></span>
	<span>Role: <%= @mu.user_role %></span>
</div>

<div id="meeting" class="container flex-center" data-meeting-id="<%= @meeting.id %>">
	<% if @mu.user_role == "presenter" %>
	<canvas class="hidden" id="meeting-canvas"></canvas>
	<video class="hidden" id="video-src" autoplay></video>
	<% end %>
	<img src="">
</div>
