<!DOCTYPE html>
<html>
<head>
    <title>CaptureMyMeeting</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/e411d41a69.js"></script>
</head>

<body>

    <div id="header">
        <span id="logo"><strong>CaptureMyMeeting</strong></span>
        <nav id="nav-head">
            <a href="/">Home</a>
            <% if logged_in? %>
                <%= link_to "Profile", @current_user %>
                <%= link_to "Log out", logout_path, method: :delete %>
            <% else %>
                <a href="/login">Login</a>
            <% end %>
        </nav>
    </div>
    <%= yield %>

</body>
</html>
